p {
  font-family: 'Times New Roman', serif;
  font-size: 21px;
}

h1 {
  font-family: medium-content-sans-serif-font,'Lucida Grand','Lucida Sans Unicode','Lucida Sans',Geneva,'Arial',sans-serif;
  font-size: 40px;
}
